#body-login {
    margin: 0;
  }
  
  #body-login * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  #body-login body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
  }
  
  /*---------------------------------------------*/
  #body-login a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  #body-login a:focus {
      outline: none !important;
  }
  
  #body-login a:hover {
      text-decoration: none;
    color: #6675df;
  }
  
  /*---------------------------------------------*/
  #body-login h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  #body-login p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  #body-login ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  #body-login input {
      outline: none;
      border: none;
  }
  
  #body-login textarea {
    outline: none;
    border: none;
  }
  
  #body-login textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  #body-login input:focus::-webkit-input-placeholder { color:transparent; }
  #body-login input:focus:-moz-placeholder { color:transparent; }
  #body-login input:focus::-moz-placeholder { color:transparent; }
  #body-login input:focus:-ms-input-placeholder { color:transparent; }
  
  #body-login textarea:focus::-webkit-input-placeholder { color:transparent; }
  #body-login textarea:focus:-moz-placeholder { color:transparent; }
  #body-login textarea:focus::-moz-placeholder { color:transparent; }
  #body-login textarea:focus:-ms-input-placeholder { color:transparent; }
  
  #body-login input::-webkit-input-placeholder { color: #999999;}
  #body-login input:-moz-placeholder { color: #999999;}
  #body-login input::-moz-placeholder { color: #999999;}
  #body-login input:-ms-input-placeholder { color: #999999;}
  
  #body-login textarea::-webkit-input-placeholder { color: #999999;}
  #body-login textarea:-moz-placeholder { color: #999999;}
  #body-login textarea::-moz-placeholder { color: #999999;}
  #body-login textarea:-ms-input-placeholder { color: #999999;}
  
  
  #body-login label {
    display: block;
    margin: 0;
  }
  
  /*---------------------------------------------*/
  #body-login button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  #body-login button:hover {
      cursor: pointer;
  }
  
  #body-login iframe {
      border: none !important;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ utility ]*/
  
  /*==================================================================
  [ Text ]*/
  #body-login .txt1 {
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #555555;
  }
  
  #body-login .txt2 {
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
  }
  
  
  /*==================================================================
  [ Size ]*/
  #body-login .size1 {
    width: 355px;
    max-width: 100%;
  }
  
  #body-login .size2 {
    width: calc(100% - 43px);
  }
  
  /*==================================================================
  [ Background ]*/
  #body-login .bg1 {background: #3b5998;}
  #body-login .bg2 {background: #1da1f2;}
  #body-login .bg3 {background: #cd201f;}
  
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  #body-login .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  #body-login .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
  }
  
  
  #body-login .wrap-login100 {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
  
  }
  
  /*==================================================================
  [ login more ]*/
  #body-login .login100-more {
    width: calc(100% - 55vw);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5% 0 0 5%;
    z-index: 1;
  }
  
  #body-login .login100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  #body-login .login100-more .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 23.6rem;
    height: 10.2rem;
  }
  
  
  
  /*==================================================================
  [ Form ]*/
  
  #body-login .login {
    gap: 25px;
    width: 55vw;
    min-height: 100vh;
    display: flex;
    background-color: #f7f7f7;
    padding: 55px 55px 55px 55px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #body-login .title h1 {
    margin: 0 0.9rem 0.5rem 0.9rem;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.3;
    color: var(--blue-secondary-2, #201B51);
  }
  #body-login .title p {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--gray-gray-400, #A0AEC0);
  }
  
  #body-login .login .title {
    margin: 0 0.2rem 2rem 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  #body-login .frame-1 {
    justify-content: center;
    margin-top: 3rem;
    flex-direction: row;
  }
  /*------------------------------------------------------------------
  [ Input ]*/
  
  #body-login form label {
    margin: 0 0.3rem 0.3rem 0.3rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--gray-gray-700, #2D3748);
  }
  
  #body-login form div {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  #body-login input {
    border-radius: 0.9rem;
    border: 0.1rem solid var(--gray-gray-200, #E2E8F0);
    background: var(--blackamp-white-white, #FFFFFF);
    padding: 0.9rem 1.2rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  #body-login input::placeholder {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--gray-gray-400, #A0AEC0);
  }
  
  #body-login .login .esqueceu-asenha {
    margin-right: 0.6rem;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--text-secondary, #7E8185);
  }
  #body-login .login .recupere-aqui {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--blue-secondary-2, #201B51);
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  #body-login button {
    border-radius: 1rem;
    background: var(--blue-secondary-2, #201B51);
    padding: 0.8rem 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--blackamp-white-white, #FFFFFF);
    width: 50%;
  }
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 992px) {
    #body-login .login100-form {
      width: 50%;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    #body-login .login100-more {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #body-login .login100-form {
      width: 100%;
    }
  
    #body-login .login100-more {
      display: none;
    }
  
    #body-login .login {
      width: 560px;
    }
  }
  
  @media (max-width: 576px) {
    #body-login .login {
      padding: 173px 30px 55px 30px;
    }
  
    #body-login form div, form button {
      width: 100%;
    }
    #body-login .login100-form {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 70px;
    }
  }
  